body{

  

}

.laptop_container{
  background-color:  #000000 ;
  width: 1150px;
  height:720px;
  border:5px solid  #000000;
  border-radius: 35px 35px 35px 35px;
  padding: 29px 29px 60px 29px;
  margin: 4px;
  box-shadow: 2px 2px 25px 8px 	#505050;
}
#win-img{
    width:1150px;
    height:720px;
    padding: 
    
}
.far fa-dot-circle{
    
   color:#a6a6a6;
}
.dot {
 
  background: #a6a6a6;
  width: 6px ;
  height: 6px;
  border-radius: 70%;
  position: absolute;
  left: 580px;
  top: 53px;
}